<form (ngSubmit)="onSubmit()" action="">

<div class="input-group">
  <p>
    <label for="initial-Investment">INITIAL INVESTMENT</label>
    <input [(ngModel)]="initialInvestment" type="number" id="initial-Investment" name="initial-Investment" required><br><br>
  </p>
  <p>
    <label for="annual-Investment">ANNUAL INVESTMENT</label>
    <input [(ngModel)]="annualInvestment" type="number" id="annual-Investment" name="annual-Investment" required><br><br>
  </p> 
</div>
 
<div class="input-group">
  <p>
    <label for="expected-return">EXPECTED RETURN</label>
    <input [(ngModel)]="expectedReturn" type="number" id="expected-return" name="expected-return" required><br><br>
  </p>
  <p>
    <label for="duration">DURATION</label>
    <input [(ngModel)]="duration" type="number" id="duration" name="duration" required><br><br>
  </p>
</div>

  <button type="submit">CALCULATE</button>

</form>

